@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-bg text-fg antialiased;
  }
}

.znc code,
.znc pre {
  background: #111111 !important;
  color: #f0f0f0 !important;
  border-radius: 4px;
}

.znc a {
  color: #111111;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.znc blockquote {
  border-left: 3px solid #111111;
  background: #F0F0F0;
  color: #555555;
}

.toc ol > li {
  list-style: decimal;
  padding-left: 0.2em;
}

.toc {
  line-height: 1.9;
}

.toc > *:first-child {
  margin-top: 0;
}

.toc a {
  color: #555555;
}

.toc a.is-active-link {
  text-decoration: underline;
  color: #111111;
  font-weight: 600;
}

.toc a:hover {
  text-decoration: underline;
  color: #111111;
}

.toc ol {
  padding-left: 1.7em;
}

.toc ul,
.toc ol {
  margin: 1.4rem 0;
  line-height: 1.7;
}

.toc ul > li,
.toc ol > li {
  margin: 0.4rem 0;
}
